body {
	margin: 0;
  }
  
.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }

.poem {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.spinner {
	border: 8px dotted #ccc;
	border-bottom-color: rgb(255, 204, 0);
	border-top-color: rgb(255, 204, 0);
	border-right-color: rgb(255, 231, 137);
	border-left-color: rgb(255, 231, 137);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	animation: spin 1.5s infinite linear;
  }
  
  @keyframes spin {
	from {
	  transform: rotate(0);
	}
	to {
	  transform: rotate(360deg);
	}
  }